@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Monofett&display=swap');

* {
  
    margin: 0;
    padding: 0;
    display: flexbox;
    height: auto;
    width: 100%;
  
    scroll-behavior: smooth;

}

.navbar {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1.2rem;
    background: rgb(149, 4, 67);
    background: radial-gradient(circle, rgb(253, 82, 156) 0%, rgb(145, 190, 241) 100%); 

}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    align-items: center;
    text-emphasis: none;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    font-family: 'Frijole', sans-serif;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    font-size: 3rem;
    background-size: 100%;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-cokor: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar_menu {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    text-emphasis: none;
    list-style: none;
}

.navbar_items {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right , #fcb845 , #fd1d1d, #833ab4);
    background: linear-gradient(to right,#fcb845, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: black;
    transition: all 0.3s ease;
}

@media screen and ( max-width:960px ) {

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        justify-content: center;
        align-content: center;
        align-items: center;
        background: rgb(149, 4, 67);
        background: radial-gradient(circle, rgb(253, 82, 156) 0%, rgb(145, 190, 241) 100%); 
        top: 100%;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_items {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        /* padding: 2rem; */
        width: 100%;
        display: table;


    }

    .navbar_btn {
        display: flex;
        padding-bottom: 2rem;
        width: auto;
        align-items: center;
        justify-content: center;
        align-content: center;

    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
        margin: 0;
    }




    .navbar_toggle .bar {
        display: block;
        justify-content: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
}